<h1>Edit ToDo</h1>
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for ToDo:</p>
     <ul>
       <li>Make is short.</li>
       <li>Use action verbs.</li>
     </ul>
   </div>
   <div class="col-md-8">
    <%= render "form" %>
   </div>
 </div>